<h1>List of Icecreams from Ben and Jerry's</h1>

{{#each icecreams}}
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">This is {{awesomeness}} kinds of awesome</h6>
    <p class="card-text">You can get it for ${{price}}.00</p>
  </div>
</div>
{{/each}}

